.scrolling-text img {
  height: 2.55em;
  padding-left: 30px;
  padding-right: 30px;
}

.scrolling-text {
  padding: 5px;
}

#blog {
  background: whitesmoke;
}

#pcet-logo {
  height: 80px;
}

.megamenu_container {
  width: 1171px;
}