.scrolling-text img {
  height: 2.55em;
  padding-left: 30px;
  padding-right: 30px;
}

.scrolling-text {
  padding: 5px;
}

#blog {
  background: whitesmoke;
}

#pcet-logo {
  height: 80px;
}

.megamenu_container {
  max-width: 1250px;
  width: auto;
}
#nav-items-about {
  padding-top: 10px;
}
#about-table {
  text-align: center;
}
.headingCls {
  font-size: 250%;
}
.leftCls {
  color: #fff;
  padding: 0;
  font-family: timesfont;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}
#logo {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
#header-2 {
  color: #fff;
  font-size: 100%;
  width: 100%;
}
#header-2 .lead {
  padding: 0;
  margin: 0;
}
.slider {
  z-index: 1;
  pointer-events: none;
}
#about-PCET {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
  z-index: 999;
}
.boxes {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 400px;
  transition: all 0.8s ease;
  font-size: 1.1em;
  font-weight: bold;
}
.boxes:hover {
  box-shadow: 4px 12px 10px #00000026;
}
#placements-PCET {
  background: white;
  padding: 50px;
}
.companies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: auto;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 50px 20px;
}
.company {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company img {
  max-width: 400px;
  max-height: 110px;
  transition: all 0.1s ease-in;
}
.company img:hover {
  transform: translateY(-5px);
  filter: drop-shadow(4px 12px 10px #00000026);
}
.end {
  color: white;
  line-height: 2;
}
@media (max-width: 502px) {
  .headingCls {
    font-size: 200%;
  }
  #header-2 {
    /* display: none; */
  }
  .companies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .company img {
    max-width: 400px;
    max-height: 110px;
    transform: scale(0.8);
  }
}
