@import "https://fonts.googleapis.com/css?family=Baloo Chettan 2";
html,
body {
  scroll-behavior: smooth;
  font-family: "Baloo Chettan 2";
}
.scrolling-text img {
  height: 2.55em;
  padding-left: 30px;
  padding-right: 30px;
}
.low-visible {
  color: rgba(0, 0, 0, 0.075);
}
.scrolling-text {
  padding: 5px;
}

#blog {
  background: whitesmoke;
}

#pcet-logo {
  height: 80px;
}
#top-bar {
  position: fixed;
  width: 100vw;
  height: 30px;
  background-color: black;
  line-height: 26px;
  font-weight: 400;
  z-index: 99999999999999999;
}
#top-bar ul {
  display: inline-flex;
  float: right;
  padding-right: 350px;
}
#top-bar ul li {
  font-size: 15px;
  margin: 5px 5px;
}
.header-img {
  max-height: 110px;
  height: auto;
  padding: 10px 0px;
}
.megamenu_container {
  max-width: 1100px;
  width: auto;
}
#nav-items-about {
  padding-top: 10px;
}
#about-table {
  text-align: center;
}
table {
  width: 100%;
}
.headingCls {
  font-size: 250%;
}
.menu-top-list ul {
  display: inline-flex;
}
.menu-top-list ul li a {
  color: white;
  font-size: 11px;
}
.leftCls {
  color: #fff;
  padding: 0;
  font-family: timesfont;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}
#logo {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.governers {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.governer {
  width: 350px;
  padding: 10px;
  margin: 5px;
  transition: all 0.2s ease;
  line-height: 2;
}
.governer .title {
  font-size: 1.5em;
}
.governer:hover {
  background-color: #1b735c;
  transform: translateY(-5px);
  color: white;
}
.governer::before {
  transition: all 0.5s;
  content: "";
  width: 5px;
  height: 50px;
  background-color: #1b735c;
  position: absolute;
  transform: translate(-10px, 10px);
}
.governer:hover::before {
  z-index: -1;
  transform: rotate(270deg) translateX(-15px);
  background-color: whitesmoke;
}
.governer .subtitle {
  text-decoration: underline;
}
.apply-online {
  animation: pulse infinite 1s ease-in-out;
  padding-top: 5px;
}
.apply-online:hover {
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#attention {
  animation: headShake infinite 1s ease-in-out;
  color: #e6730f;
  font-size: 15px;
  font-weight: bold;
  /* position: absolute; */
  margin: auto;
  /* left: 50%;
  top: 172px;
  transform: translateX(-50%); */
}
.marquee-list {
  line-height: 2;
}
.marquee-list::before {
  content: "SPOTLIGHT";
  color: white;
  position: absolute;
  font-size: 17px;
  z-index: 99999;
  padding: 0 55px 0 10px;
  background: #006e51;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.marquee-list ul li {
  display: inline-block;
  margin: 0 15px;
  color: white;
}
.marquee-list ul {
  list-style-type: disc;
  font-size: 15px;
}
#header-2 {
  color: #fff;
  font-size: 100%;
  width: 100%;
}
#header-2 .lead {
  padding: 0;
  margin: 0;
}
.fullwidthbanner {
  z-index: 1;
  pointer-events: none;
}
#about-PCET {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
  z-index: 999;
}
.boxes {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 400px;
  transition: all 0.2s ease;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  background-color: #f5f5f5;
}
.boxes:hover {
  box-shadow: 4px 12px 10px #00000026;
  transform: translateY(-5px);
}
#placements-PCET {
  background: white;
  padding: 50px;
}
.companies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: auto;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 50px 20px;
}
.company {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company img {
  max-width: 400px;
  max-height: 110px;
  transition: all 0.1s ease-in;
}
.company img:hover {
  transform: translateY(-5px);
  filter: drop-shadow(4px 12px 10px #00000026);
}
.end {
  color: white;
  line-height: 2;
}
.submenu {
  /* box-shadow: 4px 12px 10px #00000026; */
  margin: 0;
  margin-bottom: 10px;

  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  /* position: fixed; */
}
.submenu li {
  border: 2px solid #00000026;
  margin: 2px 0;
  text-align: center;
  padding: 0 20px;
  transition: all 0.2s ease;
}
/* .submenu li:first-child {
  border: none;
  background: none;
} */

.board-table img {
  width: 170px;
  border: 1px solid black;
}
.submenu li:hover {
  transform: translateY(-2px);
}
.submenu li:active {
  transform: none;
}
.tab-content {
  min-height: 300px;
  padding: 20px;
}
#bgImage {
  background-image: url("../images/infrastructure/2_Pune\ Business\ School\ Campus.jpg");
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
#bgImage .content {
  background: rgb(255, 255, 255);
  width: 100%;
  background: -moz-linear-gradient(
    186deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    186deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    186deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  padding: 20px;
  text-align: center;
  font-size: 3em;
  margin: 0;
}
#pcet-awards {
  height: 200px;
  overflow-y: auto;
  padding: 2px;
}
#pcet-awards::-webkit-scrollbar {
  width: 1px;
}

/* Track */
#pcet-awards::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#pcet-awards::-webkit-scrollbar-thumb {
  background-color: #006e51;
}
/* #floater {
  position: fixed;
  transform: translate(0, -50%);
  top: 50%;
  z-index: 99;
  background-color: ivory;
  padding: 5px;
  right: 0;
}
#floater #social li {
  margin: 10px 0;
} */

#accordion ul {
  list-style: disc;
}
#accordion ol {
  list-style-type: upper-roman;
}
#accordion ol li {
  margin: 20px 0px;
}
#accordion ul li {
  margin: 10px 0px;
  padding-left: 20px;
}
.panel-body {
  padding: 50px;
  font-size: 1.2em;
}
.faculties {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.faculties .panel-body {
  padding: 0px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faculty {
  width: 300px;
  overflow: hidden;
  user-select: none;
  /* margin: 40px; */
  transition: all 0.2s ease;
}
.faculty:hover {
  transform: translateY(-2px);
  box-shadow: 4px 12px 10px #00000026;
}
.faculty img {
  width: 100%;
  height: 250px;
  transition: all 0.2s ease;
  -webkit-filter: brightness(0.9);
}
.faculty img:hover {
  -webkit-filter: brightness(1);
}
.faculty .panel-footer {
  height: 250px;
}
.hideFal {
  display: none;
}
.showFal {
  display: block;
  text-align: justify;
}

.alumini-dist .panel {
  padding: 0;
  margin: 20px;
  /* height: 380px; */
  width: 300px;
}
.alumini-dist .panel-body {
  padding: 0;
}
.alumini-dist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
}
.alumini-dist img {
  width: 100%;
  height: 250px;
  transition: all 0.2s ease;
}
.alumini-dist img:hover {
  transform: scale(0.99);
}
.slider img {
  width: 100%;
  height: 100%;
}
.sip-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.sip-companies img {
  /* height: 200px; */
  width: 170px;
  margin: 20px;
}

.inspiration h4 {
  margin: 20px 0;
}
.social-gallery {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

.social-gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
.commities-list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 502px) {
  #top-bar ul {
    float: none;
    padding-right: 0px;
  }
  .apply-online {
    padding-right: 00px;
  }
  .headingCls {
    font-size: 200%;
  }
  #header-2 {
    /* display: none; */
  }
  .submenu {
    position: initial;
  }
  .companies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .company img {
    max-width: 400px;
    max-height: 110px;
    transform: scale(0.8);
  }
}
